/* モバイルファーストで作成 */
@charset "utf-8";

/* -------------------
　全体
------------------- */
:root{
    --main-color: #24A8BF;
    --text-color: #333333;
}

body{
    font-family: Arial,'Hiragino Kaku Gothic ProN', Helvetica, sans-serif;
    font-size: 14px;
    color: var(--text-color);
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.6;
    transition: 0.6s;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* -------------------
　見出し系
------------------- */
.g-title{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1;
    color: var(--main-color);
}

.g-subtitle{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5;
    line-height: 1;
    color: var(--text-color);
}

/* -------------------
　コンテナ
------------------- */
.container{
    max-width: 767px;
    margin: 0 auto;
    padding: 0 20px;
}

/* -------------------
　ヘッダー
------------------- */
header{
    /* display: flex; */
    position: relative;
    height: 32px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.site-logo{
    width: 160px;
    height: auto;
}

.gnav{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 275px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* text-align: right; */
    width: 275px;
    padding: 145px 80px 363px 100px;
    row-gap: 60px;
}

.nav__item{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 16px;
}

.nav-link:hover{
    opacity: 0.6;
}

.nav-link__active{
    color: var(--main-color);
}

.btn-menu{
    /* display: flex; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    padding: 24px 18px;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn-menu__line{
    display: block;
    position: relative;
    right: 0;
    width: 100%;
    height: 3px;
    /* transition: all 0.4s; */
    border-radius: 4px;
    background-color: #fff;
}

.btn-menu__line::before,.btn-menu__line::after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
}

.btn-menu__line::before{
    top: -12px;
}

.btn-menu__line::after{
    top: 12px;
}

.btn-menu.active{
    background-color: #fff;
}

.btn-menu.active .btn-menu__line{
    background-color: transparent;
}

.btn-menu.active .btn-menu__line::before,
.btn-menu.active .btn-menu__line::after{
    top: 0;
    background-color: var(--main-color);
}

.btn-menu.active .btn-menu__line::before {
    transform: rotate(45deg);
  }

  .btn-menu.active .btn-menu__line::after {
    transform: rotate(-45deg);
  }

/* -------------------
　メインビジュアル
------------------- */

/* -------------------
　コンセプト
------------------- */
.concept{
    margin: 60px 0 100px 0;
}

.concept-body{
    padding-top: 30px;
    padding-left: 20px;
}

.concept-body .g-subtitle{
    padding-bottom: 20px;
}

.concept-body .g-title{
    padding-bottom: 30px;
}

.c-text{
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 27px;
}

/* -------------------
　ブログ
------------------- */
.blog-heading{
    text-align: center;
}

.blog-heading .g-subtitle{
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 1;
    padding-top: 5px;
}

.blog-body{
    padding: 30px 0 50px 0;
}

.blog-list{
    display: block;
}

.blog__item{
    padding-bottom: 20px;
}

.b-title{
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0 5px 0;
}

.b-date{
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 16px;
}

.b-btn{
    display: block; 
    position: relative;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: var(--main-color);
    text-align: center;
    margin: 0 auto;
    padding: 18px 0;
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

.b-btn::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    width: 5px;
    height: 9px;
    transform: translateY(-50%);
    background-image: url("img/icon_arrow-right.png");
    background-repeat: no-repeat;
    background-size: 5px 9px;
  }

/* -------------------
　フッター
------------------- */
footer{
    height: 150px;
    background-color: #000;
}

.footer-logo{
    padding-top: 60px;
    width: 100px;
    height: 20px;
    margin: 0 auto;
}

.copyright{
    text-align: center;
    padding-top: 40px;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 3px;
    color: #8B8B8B;
}


/* メディアクエリ */
@media screen and (min-width:768px) {
/* -------------------
　見出し系
------------------- */
.g-title{
    font-size: 32px;
    letter-spacing: 2px;
}

.g-subtitle{
    font-size: 16px;
    letter-spacing: 1.6;
}

/* -------------------
　コンテナ
------------------- */
.container{
    max-width: 1170px;
    padding: 0 30px;
}

/* -------------------
　ヘッダー
------------------- */
header{
    display: flex;
    position: relative;
    height: auto;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

.site-logo{
    width: 280px;
    height: auto;
    padding-left: 0;
}

.gnav{
    display: inline;
    position: static;
    top: 0;
    right: 0;
    z-index: 10;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* text-align: right; */
    width: auto;
    padding: 0;
    column-gap: 30px;
}

/* .nav__item{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 16px;
} */

/* .nav-link:hover{
    opacity: 0.6;
} */

/* 
.nav-link__active{
    color: var(--main-color);
} */

.btn-menu{
    display: none;
}

/* -------------------
　メインビジュアル
------------------- */

/* -------------------
　コンセプト
------------------- */
/* .concept{
    margin: 60px 0 100px 0;
} */

.concept .container{
    display: flex;
    align-items: center;
}

.concept-heading{
    flex: 1;
}

.concept-body{
    flex: 1;
    padding-top: 0;
    padding-left: 40px;
}

.concept-body .g-subtitle{
    padding-bottom: 25px;
}

.concept-body .g-title{
    padding-bottom: 40px;
}

.c-text{
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 28px;
}

/* -------------------
　ブログ
------------------- */
/* .blog-heading{
    text-align: center;
} */

/* .blog-heading .g-subtitle{
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 1;
    padding-top: 5px;
} */

/* .blog-body{
    padding: 30px 0 50px 0;
} */

.blog-list{
    display: flex;
    flex-flow:row wrap;
}

.blog__item{
    margin: 0.75%;
    padding: 0.75%;
    padding-bottom: 50px;
    width: calc(100% / 3 - 3%);
}

/* .b-title{
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0 5px 0;
} */

/* .b-date{
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 16px;
} */

.b-btn{
    display: block; 
    position: relative;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: var(--main-color);
    text-align: center;
    margin: 0 auto;
    padding: 18px 0;
    width: 200px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

/* .b-btn::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    width: 5px;
    height: 9px;
    transform: translateY(-50%);
    background-image: url("img/icon_arrow-right.png");
    background-repeat: no-repeat;
    background-size: 5px 9px;
  } */

/* -------------------
　フッター
------------------- */
footer{
    height: 200px;
    background-color: #000;
}

.footer-logo{
    padding-top: 70px;
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.copyright{
    text-align: center;
    padding-top: 50px;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 3px;
    color: #8B8B8B;
}
}